<%- include('header') -%>
<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">

    <% newListItems.forEach((doc) =>{ %>
    <form action="/delete" method="POST">
        <div class="item">
            <input type="checkbox" value = "<%=doc._id %>"" onchange="this.form.submit()" name="checkbox">
            <p><%= doc.name %></p>
        </div>
        <input type="hidden" name="listName" value = "<%=listTitle%>"> </input >
    </form>
    <%}) %>

    <form action="/" , method="POST">
        <input type="text" name='newItem' placeholder="Input new list" autocomplete="off ">
        <button type="submit" name='button' value="<%=listTitle %>">+</button>
    </form>
</div>
<%- include('footer') -%>